name: Auto label by paths

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write
  # issues: write # Not required when labels already exist

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Apply path-based labels
        uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # actions/labeler@v5.0.0
        with:
          configuration-path: .github/labeler.yml
          sync-labels: true
